<div class="container">
    <div class="row">
      <div class="TituloIndex">
        <h1 class="EstiloIndex col-sm-12">
          <hr>
            <b>Mantenimiento de cuentas contables.</b>
            <hr>
        </h1>          
    </div>
    </div>
    <br>
    <div class="=row">
      <div class="col-md-8">
        <span *ngIf="agregar" (click)="addAccount()" class="btn btn-primary btn-lg">Nueva Cuenta</span>
      </div>&nbsp;
      <div class="col-md-4 input-icono">  
          <input type="text" class="forms-control tamanio" placeholder="Buscar..." [(ngModel)]="cuenta" name="cuenta">      
        </div>     
      </div> 

        <div class="row">
        <div class="col-md-12">
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <tr class="estiloCabecera">
                <th scope="col" width="10%" bgcolor="#c9a892">Correlativo</th>
                <th scope="col"  bgcolor="#c9a892">Código</th>
                <th scope="col"  bgcolor="#c9a892">Nombre Cuenta</th>
                <th scope="col"  bgcolor="#c9a892">Estado</th>
                <th scope="col"  bgcolor="#c9a892">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of accounts | cuentacont : cuenta | paginate: { itemsPerPage: number, currentPage: page }">
                <th >{{account.IdCuenta}}</th>
                <td>{{account.Codigo}}</td>                               
                <td>{{account.NombreCuenta}}</td>
                <td>
                  <p *ngIf="account.Estado; else desactivado">Activo</p>
                  <ng-template #desactivado>Desactivado</ng-template>
                </td>
                <td>
                  <span *ngIf="editar" class="btn btn-primary glyphicon glyphicon-pencil" title="Editar" (click)="editAccount(account.IdCuenta)"></span>
                  &nbsp;&nbsp;
                  <span *ngIf="editar" class="btn btn-info glyphicon glyphicon-refresh" (click)="changeStatus(account.IdCuenta)" title="Cambiar estado"></span>
                </td>
              </tr>             
            </tbody>
          </table>
          <pagination-controls class="paginacion"
                                 (pageChange)="page = $event"                                 
                                 maxSize="6"
                                 autoHide="true"
                                 nextLabel="Siguiente"
                                 previousLabel="Anterior"
                                 responsive="true"
                                 screenReaderPaginationLabel="Paginacion" >
            </pagination-controls>  
            <div class="mt-3" align="right">
              Items por pagina:
              <select #selectList (change)="seleccion(selectList.value)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>                     
        </div>
      </div>
    </div>
  </div>
