.tamanio{    
    width:400px;
}

.tamanio2{    
    width:400px;
    margin-left: 5px;
}

.espacio{
    padding-top: 6px;
}

.texto{
    text-align: left;
    padding-bottom: 5px;
}

.fondo{
    color: white;
    background-color: #313945;
}

.Icono{
    width: 30px;
    height: 30px;
}

.EstiloIndex{
    color: white;
    font-family:sans-serif;
    text-align: center;
    font-size: xx-large;
}

.EncabezadoForm{
    background-color: #e2d0c4;
    border-left: 15px solid #cc9774;
    border-top-right-radius: 10px;
    width: 180px;
    height: 30px;
    font-size: larger;
    line-height: 30px;
}

.EstiloForm1{
    border: 2px solid #313945;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left:20px;
    padding-right: 20px;
}

.Espacio{
    margin-bottom: 20px;
    margin-top: 10px;
}

.texto2{
    text-align: left;
    padding-bottom: 5px;
}

.Espacio2{
    margin-top: -100px;  
    padding-top: 0px; 
    z-index: 2; 
}

.Archivo{
    margin-left: 30px;
    margin-top: -35px;
}

.Fecha{    
    margin-top: -35px;
}

textarea:focus, input:focus, input[type]:focus, select:focus {
    border-color: 3px solid #3bb2ee;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #3bb2ee;
    outline: 0 none;
}

.EncabezadoForm2{
    background-color: #e2d0c4;
    border-left: 15px solid #cc9774;
    border-top-right-radius: 10px;
    width: 180px;
    height: 30px;
    font-size: larger;
    line-height: 15px;
}

.EspacioDiv{
    margin-top: 30px;
}