@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

  .container ul {
    list-style: none;
    position: relative;
    top: 280px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1px 100px;
    color: #025;
    font-size: 13px;
    overflow: auto;
    height: 500px;
    border: 3px solid rgb(83, 88, 96);
    border-radius: 5px;
    padding-top: 10px;
  }
  .container ul:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    border-left: 3px dashed rgb(172, 37, 37);
    
  }
  .container ul li {
    position: relative;
    margin-left: 30px ;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 14px;
    border-radius: 6px;
    width:890px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .08)
  }
  .container ul li:not(:first-child) {
    margin-top: 40px;
  }
  .container ul li > span {
    width: 2px;
    height: 100%;
    background: rgb(212, 120, 120);
    left: -30px;
    top: 0;
    position: absolute;
  }
  .container ul li > span:before, .container ul li > span:after {
    content: '';
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    background: #86b7e7;
    left: -5px;
    top: 0;
  }
  .container ul li span:after {
    top: 100%;
  }
  .container ul li > div {
    margin-left: 10px;  
  }
  .container div .title, .container div .type {
    font-weight: 600;
    font-size: 12px;
  }
  .container div .info {
    font-weight: 300;
  }
  .container div > div {
    margin-top: 5px;
  }
  .container span.number {
    height: 100%;
  }
  .container span.number span {
    position: absolute;
    font-size: 14px;
    left: -80px;
    margin-top: -67px;
    font-weight: bold;
  }
  .container span.number span:first-child {
    top: 0;
  }
  .container span.number span:last-child {
    top: 100%;
  }

.titulos{
  font-size: 20px;
  font-weight: bold; 
  color: black; 
}
.titulos2{
  font-size: 16px;
  font-weight: bold;   
}

.borde{
  border-left: 3px solid #025;
}