<div class="container">
    <ul>
        <li *ngFor="let item of trace">
            <span></span>
            <div style="font-size:larger ;">
                <p>codigo</p>
                <div style="font-size:larger">{{item.CodigoAF}}</div>
                <div style="font-size:larger" class="type">{{item.Comentarios}}</div>
            </div>
            <span class="number">            
                <span>{{item.FechaAccion | date:'dd/MM/yyyy'}}</span>
            </span>  
        </li>
    </ul>
</div>  


