<div class="container">
    <div class="row">
      <div class="TituloIndex">
        <h1 class="EstiloIndex col-sm-12">
          <hr>
            <b>Mantenimiento de asignación de activos.</b>
            <hr>
        </h1>       
    </div>
    </div>
    <br>

    <div class="=row">
      <div class="col-md-8">
        <span routerLink="/Assets/Assignments/Add" class="btn btn-primary btn-lg">Nueva asignación</span>             
        </div>&nbsp;
      <div class="col-md-4 input-icono">  
        <input type="text" class="forms-control tamanio" placeholder="Buscar..." [(ngModel)]="filter4" name="filter4">      
      </div>     
    </div>  

    <div class="row">
      <div class="col-md-12">        
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <tr class="estiloCabecera">
                <th scope="col" width="13%" bgcolor="#c9a892">Correlativo</th>
                <th scope="col"  bgcolor="#c9a892">Departamento</th>
                <th scope="col"  bgcolor="#c9a892">Plaza</th>
                <th scope="col"  bgcolor="#c9a892">Fecha de asignación</th>
                <th scope="col"  bgcolor="#c9a892">Estado</th>
                <th scope="col"  bgcolor="#c9a892">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let assignment of assignments | asig :filter4 | paginate: { itemsPerPage: 10, currentPage: page }">
                <th>{{assignment.IdAsignacion}}</th>
                <td>{{assignment.NombreUnidad}}</td>               
                <td>{{assignment.NombrePlaza}}</td>                 
                <td>{{assignment.FechaAsignacion | date:'dd/MM/yyyy'}}</td>
                <td>{{assignment.NombreEstado}}</td>
                <td>
                  <span *ngIf="assignment.NombreEstado == 'Pendiente'; else bloqueado" class="btn btn-primary glyphicon glyphicon-pencil" title="Editar" (click)="editAssignment(assignment.IdAsignacion)"></span>
                  &nbsp;&nbsp;
                  <span *ngIf="assignment.NombreEstado == 'Pendiente'" class="btn btn-info glyphicon glyphicon-refresh" title="Cambiar estado" (click)="validateAssignment(assignment.IdAsignacion)"></span>
                  <ng-template #bloqueado>
                    <span class="btn btn-primary glyphicon glyphicon-eye-open" title="Ver detalles" (click)="detailsAssignment(assignment.IdAsignacion)"></span>
                    &nbsp;&nbsp;
                    <span *ngIf="assignment.NombreEstado == 'Aprobada'" class="btn btn-info glyphicon glyphicon-wrench" title="Reasignar" (click)="reAssignment(assignment.IdAsignacion)"></span>
                  </ng-template>
                  
                </td>
              </tr>             
            </tbody>            
          </table>  
          <pagination-controls class="paginacion"
                                 (pageChange)="page = $event"                                 
                                 maxSize="6"
                                 autoHide="true"
                                 nextLabel="Siguiente"
                                 previousLabel="Anterior"
                                 responsive="true"
                                 screenReaderPaginationLabel="Paginacion" >
            </pagination-controls>                          
        </div>
      </div>
    </div>
  </div>