<div class="container">
    <div class="row">
      <div class="TituloIndex">
        <h1 class="EstiloIndex col-sm-12">
          <hr>
            <b>Mantenimiento de configuraciones generales.</b>
            <hr>
        </h1>
    </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <p></p>
        <!--<span routerLink="/Assets/Settings/Edit" class="btn btn-primary btn-primary btn-lg">Prueba</span>-->
        <br /><br />
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <tr class="estiloCabecera">
                <th scope="col" width="30%" bgcolor="#c9a892">Correlativo</th>
                <th scope="col" bgcolor="#c9a892">Tipo</th>
                <th scope="col" bgcolor="#c9a892">Nombre</th>
                <th scope="col" bgcolor="#c9a892">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of settings; let iControl = index">
                <th >{{item.IdConfiguracion}}</th>
                <td>{{item.Tipo}}</td>
                <td>{{item.Nombre}}</td>
                <td><span *ngIf="editar" class="btn btn-primary " (click)="editSetting(item.IdConfiguracion)">
                  <span class="glyphicon glyphicon-pencil"></span></span></td>
              </tr>              
            </tbody>
          </table>  
        </div>

      </div>
    </div>
</div>

