<div class="container">
    <div class="row">
      <div class="TituloIndex">
        <h1 class="EstiloIndex col-sm-12">
          <hr>
            <b>Mantenimiento de activos fijos.</b>
            <hr>
        </h1>       
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p></p>
        <span routerLink="/Assets/Supplies/Add" class="btn btn-primary btn-lg">Nuevo activo</span>
        <br /><br />
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <tr class="estiloCabecera">
                <th scope="col" width="13%" bgcolor="#c9a892">Código</th>
                <th scope="col"  bgcolor="#c9a892">Clasificación</th>
                <th scope="col"  bgcolor="#c9a892">Marca</th>
                <th scope="col"  bgcolor="#c9a892">Modelo</th>
                <th scope="col"  bgcolor="#c9a892">Valor compra</th>
                <th scope="col"  bgcolor="#c9a892">Fecha compra</th>
                <th scope="col"  bgcolor="#c9a892">Estado</th>
                <th scope="col"  bgcolor="#c9a892">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let asset of assets | paginate: { itemsPerPage: 10, currentPage: page }">
                <th>{{asset.CodigoAF}}</th>
                <td>{{asset.Descripcion}}</td>               
                <td>{{asset.Marca}}</td>               
                <td>{{asset.Modelo}}</td>
                <td>$ {{asset.ValorCompra | thousand}}</td>
                <td>{{asset.FechaCompra | date:'dd/MM/yyyy'}}</td>
                <td>{{asset.NombreEstado}}</td>
                <td>
                  <span class="btn btn-primary glyphicon glyphicon-pencil" title="Editar" (click)="editAsset(asset.IdActivoFijo)"></span>
                  &nbsp;&nbsp;
                  <span class="btn btn-info glyphicon glyphicon-refresh" title="Cambiar estado" (click)="changeStatus()"></span>
                </td>
              </tr>             
            </tbody>            
          </table>  
          <pagination-controls class="paginacion"
                                 (pageChange)="page = $event"                                 
                                 maxSize="6"
                                 autoHide="true"
                                 nextLabel="Siguiente"
                                 previousLabel="Anterior"
                                 responsive="true"
                                 screenReaderPaginationLabel="Paginacion" >
            </pagination-controls>                          
        </div>
      </div>
    </div>
  </div>