<div class="container">
    <div class="row">
      <div class="TituloIndex">
        <h1 class="EstiloIndex col-sm-12">
          <hr>
            <b>Mantenimiento de proveedores.</b>
            <hr>
        </h1>           
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p></p>
        <span (click)="addProvider()" class="btn btn-primary btn-lg">Nuevo proveedor</span>
        <br /><br />
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <tr class="estiloCabecera">
                <th scope="col" width="10%" bgcolor="#c9a892">Correlativo</th>
                <th scope="col"  bgcolor="#c9a892">Nombre proveedor</th>
                <th scope="col"  bgcolor="#c9a892">Estado</th>
                <th scope="col"  bgcolor="#c9a892">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let provider of providers | paginate: { itemsPerPage: 10, currentPage: page }">
                <th >{{provider.IdProveedor}}</th>
                <td>{{provider.NombreProveedor}}</td>
                <td>
                  <p *ngIf="provider.Estado; else desactivado">Activo</p>
                  <ng-template #desactivado>Desactivado</ng-template>
                </td>
                <td>                  
                  <span class="btn btn-primary glyphicon glyphicon-pencil" title="Editar" (click)="editProvider(provider.IdProveedor)"></span>
                  &nbsp;&nbsp;
                  <span class="btn btn-info glyphicon glyphicon-refresh" title="Cambiar estado" (click)="changeStatus(provider.IdProveedor)"></span>
                </td>
              </tr>             
            </tbody>            
          </table>  
          <pagination-controls class="paginacion"
                                 (pageChange)="page = $event"                                 
                                 maxSize="6"
                                 autoHide="true"
                                 nextLabel="Siguiente"
                                 previousLabel="Anterior"
                                 responsive="true"
                                 screenReaderPaginationLabel="Paginacion" >
            </pagination-controls>                          
        </div>
      </div>
    </div>
  </div>