<div role="document">
    <div>
      <form class="form-horizontal" id="add-form" [formGroup]="editUser" (ngSubmit)="editarUsuario()">
        <div class="modal-header fondo">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title sombra" id="add-modal-label"><img src="../../../assets/images/editar.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;Editar Usuario</h4>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Nombre</label>
            <div class="col-sm-10">
              <ng-select 
                formControlName="NombreUsuario" 
                class="tamanio2" 
                [searchable]="true"
                placeholder="Selecciona el empleado">
                <ng-option *ngFor="let item of usersAD" [value]="item.userprincipalname">{{item.displayname}}</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label texto">Método</label>
            <div class="col-sm-9">
              <ng-select 
                formControlName="Tipo" 
                class="tamanio2" 
                [(ngModel)]="selected"
                [searchable]="true"
                placeholder="Selecciona la opción">
                <ng-option *ngFor="let item of options" [value]="item.id">{{item.name}}</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="form-group espacio" *ngIf="selected == 1">
            <label class="col-sm-2 control-label texto">Roles</label>
            <div class="col-sm-9">              
              <ng-select formControlName="Roles" class="tamanio2" multiple="true" searchable="true">
                <ng-option *ngFor="let item of roles" [value]="item.id">{{item.name}}</ng-option>
             </ng-select>
            </div>
          </div>

          <div class="form-group" *ngIf="selected == 2">
            <label class="col-sm-2 control-label texto">Permisos</label>
            <div class="col-sm-9">
              <ng-select formControlName="Permisos" class="tamanio2" multiple="true"[searchable]="true">
                <ng-option *ngFor="let item of permisos" [value]="item.id">{{item.name}}</ng-option>
             </ng-select>              
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>








