<div role="document">
	<div class="TituloIndex">
	  <h1 class="EstiloIndex col-sm-12">
		<hr>
		  <b>Información del perfil.</b>
		  <hr>
	  </h1>  
  </div>
<form class="form-horizontal" [formGroup]="profileForm">  
	<div class="EspacioDiv">	      
		<div class="EncabezadoForm shadow-X"><b>&nbsp;Datos:</b></div>
		<div class="EstiloForm1"> 

		  <div class="row Espacio">
			<div class="col-sm-6"><label class="col-sm-6 control-label texto">Nombres</label>
				<input type="text" class="form-control borde" formControlName="empleado" disabled/>
			</div>
			<div class="col-sm-6"><label class="col-sm-6 control-label texto">Apellidos</label>
				<input type="text" class="form-control borde" formControlName="nombrePlazaNominal" disabled/>
			</div>	
		  </div> 

		  <div class="row Espacio">
			<div class="col-sm-6"><label class="col-sm-6 control-label texto">Cuenta de correo</label>
				<input type="text" class="form-control borde" formControlName="nombreUnidad" disabled/>
			</div>
			<!--<div class="col-sm-6"><label class="col-sm-6 control-label texto">Plaza</label>
				<input type="text" class="form-control" formControlName="nombrePlaza" disabled/>
			</div>	-->
		  </div> 

		  <div class="row Espacio">
			<!--<div class="col-sm-6"><label class="col-sm-6 control-label texto">Estado</label>
				<input type="text" class="form-control" formControlName="nombreEstadoLaboral" disabled/>
			</div>			-->
		  </div> 

		</div>
  	</div>
</form>