.texto{
  text-align: left;
  padding-bottom: 5px;
}

.fondo{
  color: white;
  background-color: #313945;
}

.EstiloIndex{
  color: white;
  font-family:sans-serif;
  text-align: center;
  font-size: xx-large;
}

.EncabezadoForm{
  background-color: #e2d0c4;
  border-left: 15px solid #cc9774;
  border-top-right-radius: 10px;
  width: 180px;
  height: 30px;
  font-size: larger;
  line-height: 30px;
}

.EstiloForm1{
  border: 2px solid #313945;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left:20px;
  padding-right: 20px;
}

.Espacio{
  margin-bottom: 20px;
  margin-top: 10px;
}

.EspacioDiv{
  margin-top: 30px;  
}
