  <div class="container">
    <div class="row">
      <div class="TituloIndex">
            <h1 class="EstiloIndex col-sm-12">
              <hr>
                <b>Mantenimiento de usuarios.</b>
                <hr>
            </h1>
    </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p></p>
        <span (click)="addUser()" class="btn btn-primary btn-lg">Nuevo usuario</span>
        <br /><br />
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <tr class="estiloCabecera">
                <th scope="col" width="10%" bgcolor="#c9a892">Correlativo</th>
                <th scope="col"  bgcolor="#c9a892">Nombre usuario</th>
                <th scope="col"  bgcolor="#c9a892">Estado</th>
                <th scope="col" width="10%" bgcolor="#c9a892">Intentos</th>
                <th scope="col"  bgcolor="#c9a892">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: page }">
                <th>{{user.IdUsuario}}</th>
                <td>{{user.NombreUsuario}}</td>
                <td>
                  <p *ngIf="user.Estado; else bloqueado">Activo</p>
                  <ng-template #bloqueado>Bloqueado</ng-template>
                </td>                
                <td>{{user.Intento}}</td>
                <td>
                  <span class="btn btn-primary glyphicon glyphicon-pencil" title="Editar" (click)="editUser(user.IdUsuario)"></span>
                  &nbsp;&nbsp;
                  <span class="btn btn-info glyphicon glyphicon-refresh" (click)="changeStatus(user.IdUsuario)" title="Cambiar estado"></span>
                </td>
              </tr>             
            </tbody>            
          </table>          
            <pagination-controls class="paginacion"
                                 (pageChange)="page = $event"                                 
                                 maxSize="6"
                                 autoHide="true"
                                 nextLabel="Siguiente"
                                 previousLabel="Anterior"
                                 responsive="true"
                                 screenReaderPaginationLabel="Paginacion" >
            </pagination-controls>                                                      
        </div>
      </div>
    </div>
  </div>
     
