.tamanio{    
    width:400px;
}

.tamanio2{    
    width:400px;
    margin-left: 5px;
}

.espacio{
    padding-top: 6px;
}

.texto{
    text-align: left;
}

.fondo{
    color: white;
    background-color: #313945;
    margin-left: -1px;
    width: 600px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Icono{
    width: 45px;
    height: 45px;
}

.sombra{
    text-shadow: 0 0 2px #d3d3d3;
}

.close {
    color: #fff; 
    opacity: 1;
}