<div class="TituloIndex">
  <h1 class="EstiloIndex col-sm-12">
    <hr>
      <b>Asignación de activos fijos.</b>
      <hr>
  </h1>  
</div>
<br>

<form [formGroup]="addAssignment" (ngSubmit)="guardarAsignacion()">
  <div class="EncabezadoForm shadow-X"><b>&nbsp;Datos Generales:</b></div>
  <div class="EstiloForm1">
    <div class="row Espacio">
      <div class="col-sm-6">
        <label class="col-sm-4 control-label texto">Unidad:</label><br />
        <ng-select                                 
        formControlName="IdUnidad"            
        (change)="chargeWorkStation()"
        [searchable]="true"                
        placeholder="Selecciona la unidad"
        size="10" >
          <ng-option *ngFor="let item of departaments" [value]="item.IdUnidad">{{item.NombreUnidad}}</ng-option>
    </ng-select>
    <FONT COLOR="red">
      <small *ngIf="IdUnidad.invalid && IdUnidad.touched">
        Complete el campo
      </small>
    </FONT>
        
    </div>
    

    <div class="col-sm-6">
        <label class="col-sm-4 control-label texto">Empleado:</label><br /> 
        
        <ng-select                                 
          formControlName="IdPlaza"            
          (change)="chargeEmployeeName()"
          [searchable]="true"                
          placeholder="Selecciona el Empleado"
          size="10" >
          <ng-option *ngFor="let item of workStations" [value]="item.IdPlaza">{{item.NombreEmpleado}}</ng-option>
        </ng-select>
        <FONT COLOR="red">
          <small *ngIf="IdPlaza.invalid && IdPlaza.touched">
            Complete el campo
          </small>
        </FONT>
    </div>
  </div>
    
    <div class="row Espacio">
      <div class="col-sm-6">
        <label class="col-sm-10 control-label texto">Jefe de la unidad</label><br />
        <input class="form-control bor tam" formControlName="JefeUnidad" disabled/>          
      </div>
      
      <div class="col-sm-6">
        <label class="col-sm-4 control-label texto3">Plaza:</label><br />
        <input type="text" class="form-control bor tam" disabled formControlName="Empleado"/>
      </div>
    </div>

    <div class="row Espacio">
      <div class="col-sm-6">
        <label class="col-sm-4 control-label texto3">Estado:</label><br />
        <input type="text" class="form-control bor tam" disabled formControlName="IdEstado"/>
      </div>
    </div>
  
  
    <div class="row Espacio">
      <div class="col-sm-6"><label class="col-sm-4 control-label texto3">Solicitud de asignación</label></div>
      <div class="col-sm-12">
        <label class="botonInputFile file">
        <div class="row bordeCompra">
          <div class="col-sm-2 posicionIcono1">
            <img src="../../../assets/images/factura.png" alt="Subir/Archivo" class="avatar" width="40" height="40">
          </div>
          <div class="col-sm-6 posicionInput">
            <input type="file" class="ubicacion custom-file-input" id="customFile" formControlName="IdArchivo" (change)="getFile($event)">              
          </div>            
      </div>   
      <FONT COLOR="red">
        <small *ngIf="IdArchivo.invalid && IdArchivo.touched">
          Complete el campo
        </small>
      </FONT>   
      </label>      
      </div>
      
    </div> 

</div>
<br>   
    
   <div class="row">
    <div class="col-sm-4 Espacio4">
    <a class="Link" (click)="addAsset()" style="cursor:pointer;" type="button">
      &nbsp; + Añadir activo
    </a>
  </div>
  <div class="botones">
    <button type="submit" class="espacio3 btn btn-primary btn-lg" style="float: right">Guardar</button>        
    <span routerLink="/Assets/Assignments" class="btn btn-default btn-lg" style="float: right">Cancelar</span>
  </div>
  <FONT COLOR="red">
    <small *ngIf="ListaActivos.invalid && ListaActivos.touched">
      Complete el campo
    </small>
  </FONT> 
  </div>
      
    <!-- Inicio de arreglo de activos -->
    <br>
    <div formArrayName="ListaActivos" class="card">  
         
        <div  *ngFor="let asset of addAssignment.get('ListaActivos')['controls'];  let i=index " [formGroupName]="i" [formGroup]="asset" class="card-body EstiloFor2">
          <div class="row Espacio">            
          <div class="col-sm-4">
            <label class="col-sm-4 control-label texto">Cuenta:</label><br />
            <ng-select                                 
            formControlName="IdCuenta" 
              [searchable]="true"                
              placeholder="Selecciona la cuenta"
              size="10">
                <ng-option *ngFor="let item of accounts" [value]="item.IdCuenta">{{item.NombreCuenta}}</ng-option>
             </ng-select> 
        </div>
        <div class="col-sm-4">
          <label class="col-sm3 control-label texto">Clasificación:</label><br />
          <ng-select                                 
          formControlName="IdClasificacion" 
              [searchable]="true"                
              placeholder="Selecciona la clasificación"
              size="10">
                <ng-option *ngFor="let item of chargeClasification(addAssignment.controls['ListaActivos']?.value[i]?.IdCuenta)" [value]="item.IdClasificacion">{{item.Descripcion}}</ng-option>
             </ng-select>           
        </div>
        <div class="col-sm-3">
          <label class="col-sm-4 control-label texto">Activo:</label><br />
          <ng-select                                 
          formControlName="IdActivoFijo" 
              [searchable]="true"                
              placeholder="Selecciona el código del activo"
              size="10">
                <ng-option *ngFor="let item of chargeAssets(addAssignment.controls['ListaActivos']?.value[i]?.IdClasificacion)" [value]="item.IdActivoFijo">{{item.CodigoAF}}</ng-option>
             </ng-select>             
        </div>
        <div class="col-sm-1">
          <a type="submit" class="btn alinear" style="float: right" (click)="removeItem(i)">                
            <img src="..\assets\images\trash.png" width="23" height="23">
          </a>
        </div>
      </div>
      </div>
    </div>
    
    <!-- Fin de arreglo de activos -->
  </form>