<div class="TituloIndex">
  <h1 class="EstiloIndex col-sm-12">
    <hr>
      <b>Agregar mantenimiento para activo fijo.</b>
      <hr>
  </h1>  
</div>
<br>

<form [formGroup]="addMaintenance" (ngSubmit)="guardarMantenimiento()">
  <div class="EncabezadoForm shadow-X"><b>&nbsp;Datos Generales:</b></div>
  <div class="EstiloForm1">
    <div class="row Espacio">
      <div class="col-sm-4">
        <label class="col-sm-10 control-label texto">Código activo fijo</label><br />
        <select class="form-control" formControlName="IdActivoFijo" disabled>
          <option value="" hidden>Selecciona el activo</option>
          <option *ngFor="let item of assets" [value]="item.IdActivoFijo">{{item.CodigoAF}}</option>
        </select>
    </div>
    <div class="col-sm-4 Espacio5">
      <label class="col-sm-4 control-label texto3">Fecha</label><br />
      <input type="text" class="form-control borde" disabled formControlName="FechaInicio"/>
    </div>
    <div class="col-sm-4 Espacio5">
      <label class="col-sm-4 control-label texto3">Estado</label><br />
      <input type="text" class="form-control borde" disabled formControlName="Estado"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 Espacios6">
        <label class="col-sm-12 control-label texto">Motivo</label><br />        
        <textarea type="text" formControlName="Motivo" class="form-control" placeholder="Motivo..." rows="3" style="width: 1100px" ></textarea>
    </div>    
  </div>
  <br>  
</div>
<br>   
    
   <div class="row">
    <div class="col-sm-12">
      <div class="botones">
        <button type="submit" class="espacio3 btn btn-primary btn-lg" style="float: right">Guardar</button>        
        <span  (click)="cancel()" class="btn btn-default btn-lg espacio4" style="float: right">Cancelar</span>
      </div>
    </div>
    
  </div>
      

  </form>