<div class="wrapper fadeInDown customImage">
    <div id="formContent"> 
      <!-- Icon -->
      <div class="fadeIn first">
      </div>
      <div class="imgcontainer">  <br>     
        <figure>
          <img src="../../../assets/images/logoSCIAF.png" alt="Logo de SCIAF" class="avatar" width="205" height="205"
          style="border-radius: 10px !important;">&nbsp;
          <img src="../../../assets/images/linea.png" alt="Logo de SCIAF" class="avatar" width="15" height="200"
          style="border-radius: 10px !important;">&nbsp;
        <img *ngIf="origen" [src]="origen" src="" alt="Logo de la DNM" class="avatar" width="205" height="205"
        style="border-radius: 10px !important;"> 
      </figure> 
        <hr />
      </div>
      <div> 
        <p>
          <b class="LetraLogin"> Iniciar sesión </b>
        </p>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="text" id="login" class="fadeIn second" formControlName="NombreUsuario" name="login" placeholder="Correo">
        <br><FONT COLOR="red">
        <small *ngIf="Username.invalid && Username.touched">
          Complete el campo
        </small>
      </FONT>
        <input type="password" id="password" class="fadeIn third" formControlName="Contrasenna" name="login" placeholder="Contraseña">
        <br><FONT COLOR="red">
        <small *ngIf="Password.invalid && Password.touched">
          Complete el campo
        </small>
      </FONT>
        <br>
        <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
      </form>        
    </div>
  </div>