<div class="wrapper fadeInDown customImage">
    <div id="formContent"> 
      <!-- Icon -->
      <div class="fadeIn first">
      </div>
      <div class="imgcontainer">
        <img src="../../../assets/images/logo_3.png" alt="Logo de la DNM" class="avatar" width="410" height="240">
      </div>
      <div> 
        <p>
          <b class="LetraLogin"> Iniciar sesión </b>
        </p>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <input type="text" id="login" class="fadeIn second" formControlName="NombreUsuario" name="login" placeholder="Correo">
        <br><FONT COLOR="red">
        <small *ngIf="Username.invalid && Username.touched">
          Complete el campo
        </small>
      </FONT>
        <input type="password" id="password" class="fadeIn third" formControlName="Contrasenna" name="login" placeholder="Contraseña">
        <br><FONT COLOR="red">
        <small *ngIf="Password.invalid && Password.touched">
          Complete el campo
        </small>
      </FONT>
        <br>
        <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
      </form>        
    </div>
  </div>