<div class="sidebar">
  
    <a class="active TituloSidebar TextoSidebar" routerLink="/Assets" >
      <img src="../../../assets/images/DNM_logo.ico" alt="Logo de la DNM" class="ImagenHome">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administración de activo fijo</a>
    <a routerLink="/Assets">Inicio</a>
    <a href="#contact">Activo fijo</a>
    <a href="#about">Inventario</a>
    <a href="#admon">Cuentas contables</a>
    <a href="#admon">Departamentos</a>
    <a routerLink="/Assets/Users">Usuarios</a>
    <a routerLink="/Assets/Roles">Roles</a> 
  </div>