<div class="sidebar index">
  <div class="row iconoSide">
    <div class="col-sm-4 Imagen">
      <img src="../../../assets/images/logoSCIAF.png" alt="Logo de SCIAF" class="ImagenHome">
      <!--<img *ngIf="origen" [src]="origen" src="" alt="Logo de la DNM" class="ImagenHome"> -->
    </div>
    <div class="col-sm-8">
      <a class="active TituloSidebar TextoSidebar" >Administración de activo fijo</a>  
    </div>
  </div>
   
  <nav class="navbar navbar-default"> 
            
        <a class="dropdown-toggle shadow-X" data-toggle="dropdown" routerLink="/Assets">
          <img src="../../../assets/images/pagina-de-inicio.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;&nbsp;<b>Inicio</b>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a>

      </nav>
      <nav class="navbar navbar-default" *ngIf="asset"> 
        <ul  class="nav navbar-nav">          
            <a class="dropdown-toggle shadow-X" data-toggle="dropdown" href="" >
              <img src="../../../assets/images/activo-fijo.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;&nbsp;<b>Activo fijo</b>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            <ul class="dropdown-menu">
              <li *ngIf="registerAsset"><a routerLink="/Assets/Supplies" >Registro de activos
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;                           
              </a></li> 
              <li *ngIf="assignmentAsset"><a routerLink="/Assets/Assignments" >Asignación de activos
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;                           
              </a></li> 
              <li *ngIf="dischargeAsset"><a routerLink="/Assets/Discharges" >Descargo de activo fijo
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;                           
              </a></li> 
              <li *ngIf="departureAsset"><a routerLink="/Assets/Departures" >Salida de activo fijo
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;                           
              </a></li> 
              <li *ngIf="extLoanAsset"><a routerLink="/Assets/External-Loans" >Préstamos externos
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;                           
              </a></li> 
              <li *ngIf="intLoanAsset"><a routerLink="/Assets/Internal-Loans" >Préstamos entre unidades
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;                           
              </a></li> 
              <li *ngIf="readmision"><a routerLink="/Assets/Readmisions" >Gestión de activos en préstamo
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;                           
              </a></li> 
            </ul>         
        </ul>
    </nav>

  <nav class="navbar navbar-default" *ngIf="report"> 
    <ul class="nav navbar-nav">          
        <a class="dropdown-toggle shadow-X" data-toggle="dropdown" href="" >
          <img src="../../../assets/images/inventario.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;&nbsp;<b>Reportes</b>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
        <ul class="dropdown-menu">
          <li *ngIf="reportGeneral"><a routerLink="/Assets/Reports/General" >Reporte general
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;                           
          </a></li> 
          <li *ngIf="reportDepreciation"><a routerLink="/Assets/Reports/Depreciation" >Reporte de depreciación
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;                           
          </a></li> 
          <li *ngIf="reportAmortization"><a routerLink="/Assets/Reports/Amortization" >Reporte de amortización
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;                           
          </a></li> 
          <li *ngIf="reportUnits"><a routerLink="/Assets/Reports/By-Units" >Reporte por unidades
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;                           
          </a></li> 
          <li *ngIf="reportStatus"><a routerLink="/Assets/Reports/By-Status" >Reporte por estados
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;                           
          </a></li> 
          <li *ngIf="reportHistorical"><a routerLink="/Assets/Reports/History-of-assignments" >Reporte histórico de asignaciones
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;                           
          </a></li> 
        </ul>            
    </ul>
</nav>

  <nav class="navbar navbar-default" *ngIf="catalogue"> 
    <ul class="nav navbar-nav">          
        <a class="dropdown-toggle shadow-X" data-toggle="dropdown" href="" >
          <img src="../../../assets/images/catalogo.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;&nbsp;<b>Catálogos</b>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
        <ul class="dropdown-menu">
          <li *ngIf="account"><a routerLink="/Assets/Accounts" >Cuentas contables             
          </a></li>
          <li *ngIf="clasification"><a routerLink="/Assets/Classifications">Clasificación de activos                        
          </a></li>  
          <li *ngIf="departament"><a routerLink="/Assets/Departaments">Departamentos                        
          </a></li>
          <li *ngIf="workStation"><a routerLink="/Assets/Work-Stations">Plazas                         
          </a></li> 
          <li *ngIf="brand"><a routerLink="/Assets/Brands">Marcas                        
          </a></li> 
          <li *ngIf="provider"><a routerLink="/Assets/Providers">Proveedores
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              
          </a></li>           
        </ul>         
    </ul>
</nav>

  <nav class="navbar navbar-default" *ngIf="segurity"> 
      <ul class="nav navbar-nav">          
          <a class="dropdown-toggle shadow-X" data-toggle="dropdown" href="" >
            <img src="../../../assets/images/cifrado.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;&nbsp;<b>Seguridad</b>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="user"><a routerLink="/Assets/Users" >Usuarios                        
            </a></li>
            <li *ngIf="role"><a routerLink="/Assets/Roles">Roles
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   
            </a></li>              
          </ul>         
      </ul>
  </nav>

  <nav class="navbar navbar-default" *ngIf="setting">    
        <a class="dropdown-toggle shadow-X" data-toggle="dropdown" routerLink="/Assets/Settings" >
          <img src="../../../assets/images/configuracion.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;&nbsp;<b>Configuración</b>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          
        </a> 
</nav>

  <hr class="espacio">

<footer>  
  <div align="center"
  style="margin-top:-50px !important;
  margin-left: -40px !important;">
  <img *ngIf="origen" [src]="origen" src="" alt="Logo de la DNM" class="ImagenHome2"> 
</div>
  <nav class="navbar navbar-default dropup ajustar"> 
    <ul class="nav navbar-nav">          
        <a class="dropdown-toggle shadow-X" data-toggle="dropdown" href="" >
          <img src="../../../assets/images/usuario.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;&nbsp;<b>Cuenta</b>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;
        </a>
        <ul class="dropdown-menu" >
          <li><a routerLink="/Assets/Users/Profile">
            <img src="../../../assets/images/perfil-del-usuario.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;&nbsp;Perfil
          </a></li>
          <li><a routerLink="/Assets/AboutUs">
            <img src="../../../assets/images/perfil-del-usuario.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;&nbsp;Sobre nosotros
          </a></li>
          <li><a (click)="logOut()" style="color:#cc7b45; text-shadow: 0 0 2px #cc7b45;" >
            <img src="../../../assets/images/Cerrar.png" alt="Logo de la DNM" class="Icono"><b>&nbsp;&nbsp;&nbsp;Cerrar Sesión</b>
          </a></li>              
        </ul>         
    </ul>
</nav>
</footer>
</div>