<div class="sidebar">
  
    <a class="active TituloSidebar TextoSidebar" >
      <img src="../../../assets/images/DNM_logo.ico" alt="Logo de la DNM" class="ImagenHome">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Administración de activo fijo</a>
    <a routerLink="/Assets">Inicio</a>
    <a href="#contact">Activo fijo</a>
    <a href="#about">Inventario</a>
    <a href="#admon">Cuentas contables</a>
    <a href="#admon">Departamentos</a>
    <a routerLink="/Assets/Users">Usuarios</a>
    <a routerLink="/Assets/Roles">Roles</a>

    <nav class="navbar navbar-default"> 
        <ul class="nav navbar-nav">          
            <a class="dropdown-toggle " data-toggle="dropdown" href="" >Seguridad&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/Assets/Users" >Usuarios
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;             
              </a></li>
              <li><a routerLink="/Assets/Roles">Roles
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;           
              </a></li>              
            </ul>         
        </ul>
    </nav>
  </div>