.Z{
    display: inline-block;
    position:absolute; 
    z-index: 5;
    background-color: #FFFFFF;
    color: black;
    width: 9999px;
    height: 9999px;
    margin-left: -271px;    
    padding-left: 600px;
    margin-top: -1px;
    padding-top: 330px;
    padding-left: 680px;
    margin-bottom: 500px;
    overflow-x:hidden !important;  
      
}
.posicionNumero{
    width: 290px;
    height: 160px;
    margin-top: -300px;
}

.posicionFoto{
    width: 190px;
    height: 150px;
    margin-top: 5px;    
    margin-left: 60px;
}

.texto{
    margin-top: -70px;
    margin-left: -47px;
}

.posicionBoton{
    margin-top: 20px;
    margin-left: 3px;
    width: 300px;
    height: 50px;
    font-size: x-large;
}

div.Auto {       
    overflow-x: hidden;
    overflow-y: hidden;
}