<div class="TituloIndex">
    <h1 class="EstiloIndex col-sm-12">
      <hr>
        <b>Préstamo externo de activos fijos.</b>
        <hr>
    </h1>  
  </div>
  <br>
  
  <form [formGroup]="validateRequest" (ngSubmit)="validarSolicitud()">
    <div class="EncabezadoForm shadow-X"><b>&nbsp;Datos Generales</b></div>
    <div class="EstiloForm1">
      <div class="row Espacio">

        <div class="col-sm-4">
          <label class="col-sm-4 control-label texto">Tipo</label><br />        
          <input class="form-control" formControlName="Tipo" disabled/>
        </div>

        <div class="col-sm-4">
          <label class="col-sm-4 control-label texto">Fecha actual</label><br />
          <input type="date" class="form-control" formControlName="FechaRegistro" disabled/>
        </div>              
      
        
      </div>

      <div class="esp">        
        <div class="dimensiones">
          <div class="texta">
            <label class=" control-label texto">Motivo</label>         
              <textarea class="texta" type="text" rows="10" class="form-control" placeholder="Motivo" formControlName="Motivo"  disabled></textarea>         
            </div>
        </div>
      </div>


      

      <div class="row Espacio ajuste">

        <div class="col-sm-4">
          <label class="col-sm-4 control-label texto">Estado</label><br />
          <select class="form-control" formControlName="IdEstado" disabled>
            <option value="" hidden>Selecciona el estado</option>
            <option *ngFor="let item of status" [value]="item.IdEstado">{{item.NombreEstado}}</option>
          </select>
      </div>

        <div class="col-sm-4">
          <label class="col-sm-10 control-label texto">Estado destino</label><br />  
          <select class="form-control" formControlName="IdEstadoSolicitado" disabled>
            <option value="" hidden>Selecciona el estado</option>
            <option *ngFor="let item of status" [value]="item.IdEstado">{{item.NombreEstado}}</option>
          </select>           
        </div>  
        <div class="col-sm-4">
        </div> 
      </div>

        <div class="row Espacio">
          <div class="col-sm-4">
            <label class="col-sm-10 control-label texto">Unidad que aprueba préstamo</label>
            <select class="form-control" formControlName="IdUnidadActual" disabled>
              <option value="" hidden>Selecciona el estado</option>
              <option *ngFor="let item of departaments" [value]="item.IdUnidad">{{item.NombreUnidad}}</option>
            </select>
          </div>     
          <div class="col-sm-4">
            <label class="col-sm-10 control-label texto">Jefe de la unidad que aprueba</label><br />
            <input class="form-control" formControlName="JefeUnidadActual" disabled/>          
          </div>   
      
        
      </div>

      <div class="row Espacio">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label texto2">Fecha de despacho</label>
          <input type="date" class="form-control" placeholder="Fecha de compra" formControlName="FechaSolicitud" disabled>          
        </div> 
        <div class="col-sm-3">
          <label class="col-sm-10 control-label texto2">Fecha de retorno</label>
          <input type="date" class="form-control" placeholder="Fecha de retorno" formControlName="FechaRetorno" disabled>          
        </div>

        <div class="col-sm-6">
          <label class="col-sm-10 control-label texto">Nombre del solicitante</label>
          <input class="form-control" placeholder="Nombre del solicitante" formControlName="Solicitante" disabled>          
        </div> 
      </div>
      <div class="row Espacio"> 
        <div class="col-sm-4">
          <label class="col-sm-4 control-label texto">DUI</label>
          <input class="form-control" placeholder="DUI" formControlName="DUI" disabled/>
        </div>     
        <div class="col-sm-4">
          <label class="col-sm-2 control-label texto">Telefono</label><br />
          <input class="form-control" placeholder="Telefono" formControlName="Telefono" disabled />          
        </div>
        <div class="col-sm-4">
          <label class="col-sm-2 control-label texto">Correo</label><br />
          <input class="form-control" placeholder="Correo" formControlName="Correo" disabled/>          
        </div>
      </div>
      <div class="row Espacio"> 
        <div class="col-sm-12">
          <label class="col-sm-4 control-label texto">Dirección</label>
          <textarea class="form-control" placeholder="Dirección" formControlName="Direccion" cols="10" rows="10" disabled></textarea>          
        </div>
      </div>

      <div class="row Espacio">
        <div class="col-sm-4">
          <label class="col-sm-10 control-label texto2">Fecha para hacer préstamo</label>
          <input type="date" class="form-control" placeholder="Fecha de compra" formControlName="FechaSolicitud" disabled>          
        </div> 
        <div class="col-sm-8">
          <label class="col-sm-10 control-label texto">Descargar solicitud de préstamo</label>
            <div class="col-sm-3">
              <a class="btn botonInputFile2" (click)="downloadPDF()"  download="">                
              <img src="../../../assets/images/download.png" alt="Subir/Archivo" class="avatar" width="45" height="40">
              </a>
          </div>          
        </div>   
      </div>

      <div class=" row tabla"> 
        <div class="EncabezadoForm2 shadow-X pos"><b>&nbsp;Activos seleccionados</b></div>       
        <br>
      <div class="col-sm-8">
        <h5 class="encabezado">Lista de activos seleccionados:</h5>
        <div class="borde2 tam">
          <p></p>
          <p class="cursor-pointer tablaSeleccion" *ngFor="let item of selectedAssets; let i = index">
            <t style="color:cornflowerblue; font-weight: bold;">+</t><t style="font-weight: bold;">&nbsp;{{item.CodigoAF}}</t>
          </p>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <p class="pie">Total de activos seleccionados:</p>
          </div>
          <div class="col-sm-4 cont">
            <th class="num">{{selectedAssets ? selectedAssets.length : ''}}</th>
          </div>
        </div>
        <br>
      </div>
      
      </div><br><br>

      
  </div>
  <br>   
      
     <div class="row">
      <div class="col-sm-4 Espacio4">
      
    </div>
    <div class="botones" *ngIf="isPending">
      <button type="submit" class="espacio3 btn btn-primary btn-lg" style="float: right">Aprobar</button>       
      <span (click)="rechazarSolicitud()" class="espacio3 btn btn-default btn-lg" style="float: right; background-color: rgb(244, 90, 90); color: white">Rechazar</span> 
    </div>
    <div class="botones">       
      <span routerLink="/Assets/External-Loans" class=" btn btn-default btn-lg" style="float: right">Cancelar</span>
    </div>
    </div>
        
      <!-- Inicio de arreglo de activos -->
      
      
      <!-- Fin de arreglo de activos -->
    </form>