<div role="document">
    <div>
      <form class="form-horizontal" [formGroup]="addClasification" (ngSubmit)="guardarClasificacion()">
        <div class="modal-header fondo">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-modal-label"><img src="../../../assets/images/clasificacion.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;Agregar clasificación de activo fijo</h4>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="Descripcion" />
            </div>
          </div>          
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Cuenta</label>
            <div class="col-sm-9">
              <select formControlName="IdCuenta" class="form-control tamanio2" placeholder="Selecciona la cuenta">
                <option [value]="null" disabled selected>Selecciona la cuenta</option>
                <option *ngFor="let item of accounts" [value]="item.IdCuenta">{{item.NombreCuenta}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
