.Dimension{
    padding-top: 20px;
    justify-items: center;
    align-items: center;
    margin-left: 150px;
}

.EstiloIndex{
    color: white;
    font-family:sans-serif;
    text-align: center;
    font-size: xx-large;
}

.FechaIndex{
    font-size: medium;
    text-align: right;      
}