.Dimension{
    padding-top: 20px;
    justify-items: center;
    align-items: center;
    margin-left: 150px;
}

.EstiloIndex{
    color: white;
    font-family:sans-serif;
    text-align: center;
    font-size: xx-large;
}

.FechaIndex{
    font-size: medium;
    text-align: right;      
}

.bordes{
    border: 2px solid #5fbae9;
}

.tama{
    font-size: small;    
    margin-right: -300px;
    margin-top: 30px;
}

.size{
    width: 35%;   
}

.ajuste{
    text-align: justify;
    align-items: center;
    align-content: center;
    justify-self: unset;
    justify-content: center;
    justify-items: center;
    z-index: 99 !important;
}

.marcaIma{     
    margin-bottom: -600px !important;
    margin-left: 370px !important;
    margin-top: -50px !important;
    opacity: 0.1;
}