<div class="TituloIndex">
        <hr>
        <hr>
            <h1 class="EstiloIndex">
                <p><b>Bienvenido al Sistema de Control Interno de Activos Fijos de la DNM.</b></p>
            </h1>
        <hr>
        <hr>        
</div>
<hr>
<div >
    <h3>
        <p><b>Misión:</b></p>
    </h3>
    <h5>Somos la entidad rectora, pública-autónoma y técnica; cuya finalidad es garantizar la institucionalidad que permita asegurar la accesibilidad, registro, calidad, disponibilidad, eficiencia y seguridad de los medicamentos y productos cosméticos para la población y propiciar el mejor precio para el usuario público y privado; así como su uso racional.  </h5>
</div>
<hr>
<div >
    <h3>
        <p><b>Visión:</b></p>
    </h3>
    <h5>Ser una autoridad reguladora competente a nivel nacional y referente regional que vigila la calidad de los productos para la salud, a fin de garantizar su acceso, seguridad y eficacia, participando activamente en la formación de una cultura de uso racional de medicamentos.  </h5>
</div>

<div class="content">
    <img src="../../../assets/images/FotoDNM.jpeg" alt="Foto de la DNM" class="Dimension" width="340" height="240" >
    <img src="../../../assets/images/Edificio.jpg" alt="Foto de la DNM" class="Dimension" width="340" height="240" >     
</div>

<div class="row tama">
    <div class = "col-sm-8">
    <!--aqui va la primera tabla-->
    </div>
    <div class = "col-sm-4">        
      <h6 bgcolor="#313945" style="color:black"><b>Fecha y Hora actual:</b></h6>                
        {{ todayWithPipe }}&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;{{today | date:'h:mm a'}}    
    </div>
</div>