.Dimension{
    padding-top: 20px;
    justify-items: center;
    align-items: center;
    margin-left: 150px;
}

.EstiloIndex{
    color: white;
    font-family:sans-serif;
    text-align: center;
    font-size: xx-large;
}

.FechaIndex{
    font-size: medium;
    text-align: right;      
}

.bordes{
    border: 2px solid #5fbae9;
}

.tama{
    font-size: small;    
    margin-right: -300px;
    margin-top: 10px;
}

.size{
    width: 35%;   
}
