<div class="container">
    <div class="row">
      <div class="TituloIndex">
        <h1 class="EstiloIndex col-sm-12">
          <hr>
            <b>Mantenimiento de préstamo externo de activos fijos.</b>
            <hr>
        </h1>       
    </div>
    </div>
    <br>

    <div class="=row">
      <div class="col-md-8">
        <span routerLink="/Assets/External-Loans/Add" class="btn btn-primary btn-lg">Nueva solicitud</span>             
        </div>&nbsp;
      <div class="col-md-4 input-icono">  
        <input type="text" class="forms-control tamanio" placeholder="Buscar..." [(ngModel)]="filter5" name="filter5">      
      </div>     
    </div>  

    <div class="row">
      <div class="col-md-12">        
        <div class="table-responsive">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <tr class="estiloCabecera">
                <th scope="col" width="13%" bgcolor="#c9a892">Correlativo</th>
                <th scope="col"  bgcolor="#c9a892">Solicitante</th>
                <th scope="col"  bgcolor="#c9a892">Fecha de solicitud</th>
                <th scope="col"  bgcolor="#c9a892">Estado</th>
                <th scope="col"  bgcolor="#c9a892">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of requests | prestamoex: filter5 | paginate: { itemsPerPage: number, currentPage: page }">
                <th>{{request.IdSolicitud}}</th>
                <td>{{request.Solicitante}}</td>               
                <td>{{request.Fecha_Solicitud}}</td>
                <td>{{request.NombreEstado}}</td>
                <td>
                  <span *ngIf="request.NombreEstado == 'Pendiente'" class="btn btn-info glyphicon glyphicon-check" title="Validar Solicitud" (click)="validateRequest(request.IdSolicitud)"></span>
                  &nbsp;&nbsp;
                  <span *ngIf="request.NombreEstado != 'Pendiente'" class="btn btn-primary glyphicon glyphicon-eye-open" title="Detalles" (click)="detailsRequest(request.IdSolicitud)"></span>
                </td>
              </tr>             
            </tbody>            
          </table>  
          <pagination-controls class="paginacion"
                                 (pageChange)="page = $event"                                 
                                 maxSize="6"
                                 autoHide="true"
                                 nextLabel="Siguiente"
                                 previousLabel="Anterior"
                                 responsive="true"
                                 screenReaderPaginationLabel="Paginacion" >
            </pagination-controls>              
            <div class="mt-3" align="right">
              Items por pagina:
              <select #selectList (change)="seleccion(selectList.value)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>            
        </div>
      </div>
    </div>
  </div>