.tamanio2{    
    width:400px;
    margin-left: 5px;
}

.espacio{
    padding-top: 6px;
}

.texto{
    text-align: left;
}

.fondo{
    color: white;
    background-color: #313945;
}

.Icono{
    width: 30px;
    height: 30px;
}