<div role="document">
    <div>
      <form class="form-horizontal" [formGroup]="editReadmisionForm" (ngSubmit)="guardarSeguimiento()">
        <div class="modal-header fondo">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-modal-label"><img src="../../../assets/images/taskS.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;Agregar seguimiento a activo fijo</h4>
        </div>
        <div class="modal-body">  
            <div class="form-group">
                <label class="col-sm-6 control-label texto posicion">¿El bien ha sido devuelto?</label>
                <div class="col-sm-1 posicion2">
                    <input type="checkbox" class="form-control" formControlName="EsDevuelto" style="margin-left: -100px; margin-top: 7px; height: 20px;" />
                </div>
            </div>         
            <div class="form-group">
              <div class="row">

                  <div class="col-sm-5">
                    <label class="col-sm-12 control-label texto" style="margin-top: 5px;">Ingrese su comentario</label>
                  </div>
                  <div class="col-sm-7">
                    <textarea type="text" rows="4" class="form-control" placeholder="Comentario" formControlName="Comentarios" style="margin-left: -50px; margin-top: 15px;"></textarea>
                  </div>
              </div>                
            </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()" >Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
