<div class="container">
    <div class="row">
      <div class="TituloIndex">
       <h1 class="EstiloIndex col-sm-12">
          <hr>
            <b>Gestión de activo fijo en préstamo.</b>
            <hr>
        </h1>         
    </div>
    </div>
    <br>
    
    <div class="=row">
      <div class="col-md-8">
        
        </div>&nbsp;
      <div class="col-md-4 input-icono">  
        <input type="text" class="forms-control tamanio" placeholder="Buscar..." [(ngModel)]="filterpost" name="filterpost">      
      </div>     
    </div>   

    <div class="row">
      <div class="col-md-12">   
        <div class="table-responsive">
          <table id="mytable" class="table table-bordered table-striped">
            <thead>
              <tr class="estiloCabecera">
                <th scope="col" width="13%" bgcolor="#c9a892">Código</th>
                <th scope="col" width="17%" bgcolor="#c9a892">Fecha de préstamo</th>
                <th scope="col" width="17%" bgcolor="#c9a892">Fecha de retorno</th>
                <th scope="col"  bgcolor="#c9a892">Jefe responsable del bien</th>
                <th scope="col"  bgcolor="#c9a892">Solicitante</th>
                <th scope="col" width="9%" bgcolor="#c9a892">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let asset of assets | gestion : filterpost  | paginate: { itemsPerPage: number, currentPage: page }">
                <th >{{asset.CodigoAF}}</th>
                <td>{{asset.Fecha_Solicitud}}</td>               
                <td>{{asset.Fecha_Retorno}}</td>
                <td>{{asset.JefeUnidadActual}}</td>
                <td>{{asset.Solicitante}}</td>                
                <td>
                  <span *ngIf="editar" class="btn btn-primary glyphicon glyphicon-pencil" title="Editar" (click)="editAdmision(asset.IdActivoFijo)"></span>
                  
                </td>
              </tr>             
            </tbody>            
          </table>  
          <pagination-controls class="paginacion"
                                 (pageChange)="page = $event"                                 
                                 maxSize="6"
                                 autoHide="true"
                                 nextLabel="Siguiente"
                                 previousLabel="Anterior"
                                 responsive="true"
                                 screenReaderPaginationLabel="Paginacion" >
            </pagination-controls>  
            <div class="mt-3" align="right">
              Items por pagina:
              <select #selectList (change)="seleccion(selectList.value)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>
                                   
        </div>
      </div>
    </div>
  </div>