<div role="document">
    <div>
      <form class="form-horizontal" [formGroup]="addDepartament" (ngSubmit)="guardarDepartamento()">
        <div class="modal-header fondo">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title  sombra" id="add-modal-label"><img src="../../../assets/images/departamento.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;Agregar departamento</h4>
        </div>
        <div class="modal-body">      
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Código</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="CodigoUnidad" />
            </div>
          </div>    
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="NombreUnidad" />
            </div>
          </div>          
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Encargado</label>
            <div class="col-sm-9">
              <ng-select 
                formControlName="IdUsuario" 
                class="tamanio2" 
                [searchable]="true"
                placeholder="Selecciona el encargado">
                <ng-option *ngFor="let item of users" [value]="item.IdUsuario">{{item.NombreUsuario}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
