<div role="document">
    <div>
      <form class="form-horizontal" [formGroup]="addUser" (ngSubmit)="guardarUsuario()">
        <div class="modal-header fondo">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-modal-label"><img src="../../../assets/images/nuevoContacto.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;Agregar usuario</h4>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="NombreUsuario" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Contraseña</label>
            <div class="col-sm-10">
                <input type="password" class="form-control tamanio" formControlName="Contrasenna" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Roles</label>
            <div class="col-sm-9">
              <select formControlName="Roles" class="form-control tamanio2">
                <option [value]="null" disabled selected>Selecciona el rol</option>
                <option *ngFor="let item of roles" [value]="item.IdRol">{{item.NombreRol}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
