<div class="container">
    <div class="row">
      <div class="TituloIndex">
          <h1 class="EstiloIndex col-sm-12">
            <hr>
              <b>Sobre nosotros.</b>
              <hr>
          </h1>          
    </div>
    </div>
    <br> 
    <div class="row">
        <div class="col-sm-6 SN"></div>
        <div class="col-sm-6"><label class="col-sm-12 control-label texto">&nbsp;&nbsp;¿QUIENES SOMOS?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>  <br><br>     
        <p class="texto2">Somos un equipo de estudiantes de la Universidad de El Salvador, que se han desempeñados en
            el ámbito del desarrollo de software.</p><br>
        </div> 
        <div class="col-sm-6"><label class="col-sm-12 control-label texto">&nbsp;&nbsp;NUESTRA VISIÓN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><br>   <br>    
            <p class="texto2">Ser un equipo líder en desarrollo de software, estando siempre a la vanguardia en las áreas tecnológicas que nos competen con fin de solucionar las problemáticas de nuestros clientes, agregando valor a sus negocios.
                <br><br></div>
            <div class="col-sm-6"><label class="col-sm-12 control-label texto">&nbsp;&nbsp;NUESTRA MISIÓN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>   <br>  <br>  
                <p class="texto2">Contribuir al desarrollo de nuestros clientes entregando productos y servicios de la más alta calidad con las componentes tecnológicas precisas para cada necesidad.<br><br></p>
                </div> 
                <div class="col-sm-6"><label class="col-sm-12 control-label texto">&nbsp;&nbsp;NUESTRO EQUIPO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>   <br> <br>   
                    <p class="texto2">Esta compuesto por:</p>
                       <ul> 
                        <strong><li>Blanca Roxana Alvarado Guardado</li></strong>
                        <strong><li>Carlos Alberto Díaz Pintor</li></strong>
                        <strong><li>Alicia Beatriz Peña Menjívar</li></strong>
                        <strong><li>Luis Martin Valle Ventura</li></strong>                    
                    </ul>
                    <br>
                    </div> 
                    <div class="col-sm-6"><label class="col-sm-12 control-label texto">&nbsp;&nbsp;CONTACTENOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>   <br>   <br> 
                        <p class="texto2">Correo: SCIAF_142022@gmail.com</p>
                        </div>
    </div>
  </div>
