<div class="card">
    <div class="card-header">
        Roles
    </div>
    <button class="btn btn-lg btn-outline-primary">Agregar rol</button>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Correlativo</th>
                <th scope="col">Nombre rol</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rol of roles; let iControl = index">
                <th >{{rol.IdRol}}</th>
                <td>{{rol.NombreRol}}</td>
                <td>
                  <i class="bi bi-pencil-square"></i>
                    <div >Activar</div>
                </td>
              </tr>
            </tbody>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </table>
    </div>
  </div>
