<div role="document">
    <div>
      <form class="form-horizontal" [formGroup]="addAccount" (ngSubmit)="guardarCuenta()">
        <div class="modal-header fondo">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-modal-label"><img src="../../../assets/images/cuenta.png" alt="Logo de la DNM" class="Icono">&nbsp;&nbsp;Agregar Cuenta Contable</h4>
        </div>
        <div class="modal-body">          
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Código</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="Codigo" />
            </div>
          </div> 
          <div class="form-group">
            <label class="col-sm-2 control-label texto">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="NombreCuenta" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-6 control-label texto posicion">¿Es un bien Tangible?</label>
            <div class="col-sm-1 posicion2">
                <input type="checkbox" class="form-control" formControlName="EsTangible" />
            </div>
          </div> 
          <div class="form-group" *ngIf="addAccount.controls['EsTangible']?.value">
            <label class="col-sm-6 control-label texto posicion">¿Es un bien Depreciable?</label>
            <div class="col-sm-1 posicion2">
                <input type="checkbox" class="form-control" formControlName="EsDepreciable" />
            </div>
          </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
